<!DOCTYPE html>
<html>
<head>
  <title>Medical Application</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
  
  <script src="show.js"></script>
  <link rel="stylesheet" href="../nav.css" />
  
</head>

<body>
	

<div data-role="page" data-add-back-btn="true" id="userShow">


	<div data-role="header">
		<h1>Questions</h1>
		
	<!--<div data-role="navbar">
		<ul>
		<li><a id="usPerson">Personal</a></li>		
		<li><a id="usMedical">Medical</a></li>
		<li><a id="usEnvironment">Environmental</a></li>
		</ul></div>
		<div data-role="navbar">
		<ul>
		<li><a id="usFamily">Family</a></li>
		<li><a id="usMental">Social</a></li>
		<li><a id="usMisc">Misc</a></li>
		</ul>
	</div> /navbar -->
	
	<div>
		<ul class="nav">
		<li class="nav"><a class="nav" id="usPerson" style="color:white">Personal</a></li>		
		<li class="nav"><a class="nav" id="usMedical" style="color:white">Medical</a></li>
		<li class="nav"><a class="nav" id="usEnvironment" style="color:white">Environmental</a></li>
		<li class="nav"><a class="nav" id="usFamily" style="color:white">Family</a></li>
		<li class="nav"><a class="nav" id="usMental" style="color:white">Social</a></li>
		<li class="nav"><a class="nav" id="usMisc" style="color:white">Misc</a></li>
		</ul>
	</div>
		
	</div><!-- /head -->   
  
	<div data-role="content" id="showPerson_us">
	<h3 align="center">Personal Question</h3>
		<div id="showPerson_s"></div>
			
	</div>
	
	<div data-role="content" id="showMedical_us">
	<h3 align="center">Medical Question</h3>
		<div id="showMedical_s"></div>
	</div>
	
	<div data-role="content" id="showEnvironmental_us">
	<h3 align="center">Environmental Question</h3>
		<div id="showEnvironmental_s"></div>
	</div>
	
	<div data-role="content" id="showFamily_us">
	<h3 align="center">Family Question</h3>
		<div id="showFamily_s"></div>
	</div>
	
	<div data-role="content" id="showSocial_us">
	<h3 align="center">Social Question</h3>
		<div id="showSocial_s"></div>
	</div>
	
	<div data-role="content" id="showMisc_us">
	<h3 align="center">Miscellaneous Question</h3>
		<div id="showMisc_s"></div>
	</div>
 
	
	<div data-role="footer">
		<h5>Footer</h5>
	</div><!-- /footer --> 
 
	</div><!-- /page1 --> 

</body>
</html>