ul.nav{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
width:100%;
} 

li.nav{
display:inline;
float:left;
text-align:center;
width:33.333%;
line-height: 30px;
}

a.nav{
border-style:solid;
border-width:1px;
border-color:#303030;
padding:1px;
display:block;
text-decoration:none;
font-weight:bold;
font-family:Tahoma;
color: #e4f5fc;
}

.navTog
{
background:blue;
}